Repository colmbaston/advent-of-code: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_2015, test_2016, test_2017, test_2018, test_2019, test_2020, test_2021, test_2022, test_2023, test_2024

test_2015:
  stage: test
  script: bash ./check.sh 2015

test_2016:
  stage: test
  script: bash ./check.sh 2016

test_2017:
  stage: test
  script: bash ./check.sh 2017

test_2018:
  stage: test
  script: bash ./check.sh 2018

test_2019:
  stage: test
  script: bash ./check.sh 2019

test_2020:
  stage: test
  script: bash ./check.sh 2020

test_2021:
  stage: test
  script: bash ./check.sh 2021

test_2022:
  stage: test
  script: bash ./check.sh 2022

test_2023:
  stage: test
  script: bash ./check.sh 2023

test_2024:
  stage: test
  script: bash ./check.sh 2024

2024 puzzle 01
  2024/answers.txt
  2024/puzzle01/input.txt
  2024/puzzle01/src/main.rs
Due: test_2024

O(n) solution to part two
  2024/puzzle01/src/main.rs
Due: test_2024

2024 puzzle 02
  2024/answers.txt
  2024/puzzle02/input.txt
  2024/puzzle02/src/main.rs
Due: test_2024

2024 puzzle 03
  2024/answers.txt
  2024/puzzle03/input.txt
  2024/puzzle03/src/main.rs
Due: test_2024

2024 puzzle 04
  2024/answers.txt
  2024/puzzle04/input.txt
  2024/puzzle04/src/main.rs
Due: test_2024

matches!() with bytestrings
  2024/puzzle04/src/main.rs
Due: test_2024

2024 puzzle 05
  2024/answers.txt
  2024/puzzle05/input.txt
  2024/puzzle05/src/main.rs
Due: test_2024

2024 puzzle 06
  2024/answers.txt
  2024/puzzle06/Cargo.toml
  2024/puzzle06/input.txt
  2024/puzzle06/src/main.rs
Due: test_2024

2024 puzzle 07
  2024/answers.txt
  2024/puzzle07/input.txt
  2024/puzzle07/src/main.rs
Due: test_2024

2024 puzzle 08
  2024/answers.txt
  2024/puzzle08/input.txt
  2024/puzzle08/src/main.rs
Due: test_2024

2024 puzzle 09
  2024/answers.txt
  2024/puzzle08/src/main.rs
  2024/puzzle09/input.txt
  2024/puzzle09/src/main.rs
Due: test_2024

2024 puzzle 10
  2024/answers.txt
  2024/puzzle10/Cargo.toml
  2024/puzzle10/input.txt
  2024/puzzle10/src/main.rs
Due: test_2024

2024 puzzle 11
  2024/answers.txt
  2024/puzzle11/input.txt
  2024/puzzle11/src/main.rs
Due: test_2024

2024 puzzle 12
  2024/answers.txt
  2024/puzzle12/Cargo.toml
  2024/puzzle12/input.txt
  2024/puzzle12/src/main.rs
Due: test_2024

part two by counting corners
  2024/puzzle12/src/main.rs
Due: test_2024

use isqrt()
  2021/puzzle17/src/main.rs
Due: test_2021

2024 puzzle 13
  2024/answers.txt
  2024/puzzle13/input.txt
  2024/puzzle13/src/main.rs
Due: test_2024

2024 puzzle 14
  2024/answers.txt
  2024/puzzle14/input.txt
  2024/puzzle14/src/main.rs
Due: test_2024

2024 puzzle 15
  2024/answers.txt
  2024/puzzle15/Cargo.toml
  2024/puzzle15/input.txt
  2024/puzzle15/src/main.rs
Due: test_2024

2024 puzzle 16
  2024/answers.txt
  2024/puzzle16/Cargo.toml
  2024/puzzle16/input.txt
  2024/puzzle16/src/main.rs
  aoc/src/direction.rs
Due: test_2015, test_2016, test_2017, test_2018, test_2019, test_2020, test_2021, test_2022, test_2023, test_2024

add visited set for part two
  2024/puzzle16/src/main.rs
Due: test_2024

2024 puzzle 17
  2024/answers.txt
  2024/puzzle17/input.txt
  2024/puzzle17/src/main.rs
Due: test_2024

2024 puzzle 18
  2024/answers.txt
  2024/puzzle18/Cargo.toml
  2024/puzzle18/input.txt
  2024/puzzle18/src/main.rs
Due: test_2024

2024 puzzle 19
  2024/answers.txt
  2024/puzzle19/input.txt
  2024/puzzle19/src/main.rs
Due: test_2024

2024 puzzle 20
  2024/answers.txt
  2024/puzzle20/Cargo.toml
  2024/puzzle20/input.txt
  2024/puzzle20/src/main.rs
Due: test_2024

2024 puzzle 21
  2024/answers.txt
  2024/puzzle21/Cargo.toml
  2024/puzzle21/input.txt
  2024/puzzle21/src/main.rs
Due: test_2024

2024 puzzle 22
  2024/answers.txt
  2024/puzzle22/input.txt
  2024/puzzle22/src/main.rs
Due: test_2024

don't allocate vecs, no longer using nested hashmap
  2024/puzzle22/src/main.rs
Due: test_2024

fix borrowing issue
  2019/puzzle12/src/main.rs
Due: test_2019

new clippy lint
  2018/puzzle04/src/main.rs
Due: test_2018

2024 puzzle 23
  2024/answers.txt
  2024/puzzle23/input.txt
  2024/puzzle23/src/main.rs
Due: test_2024

pivoting version of Bron-Kerbosch
  2024/puzzle23/src/main.rs
Due: test_2024

2024 puzzle 24
  2024/answers.txt
  2024/puzzle24/input.txt
  2024/puzzle24/src/main.rs
Due: test_2024

2024 puzzle 25
  2024/answers.txt
  2024/puzzle25/input.txt
  2024/puzzle25/src/main.rs
Due: test_2024

nest cache HashMap to avoid cloning
  2019/puzzle18/src/main.rs
Due: test_2019

represent locks and keys bitwise
  2024/puzzle25/src/main.rs
Due: test_2024

update README
  README.md
Due: none

update input script to account for 12-day AoC
  input.sh
Due: none

add puzzle directories for 2025
  .gitlab-ci.yml
  2025/Cargo.toml
  2025/answers.txt
  2025/puzzle01/Cargo.toml
  2025/puzzle01/src/main.rs
  2025/puzzle02/Cargo.toml
  2025/puzzle02/src/main.rs
  2025/puzzle03/Cargo.toml
  2025/puzzle03/src/main.rs
  2025/puzzle04/Cargo.toml
  2025/puzzle04/src/main.rs
  2025/puzzle05/Cargo.toml
  2025/puzzle05/src/main.rs
  2025/puzzle06/Cargo.toml
  2025/puzzle06/src/main.rs
  2025/puzzle07/Cargo.toml
  2025/puzzle07/src/main.rs
  2025/puzzle08/Cargo.toml
  2025/puzzle08/src/main.rs
  2025/puzzle09/Cargo.toml
  2025/puzzle09/src/main.rs
  2025/puzzle10/Cargo.toml
  2025/puzzle10/src/main.rs
  2025/puzzle11/Cargo.toml
  2025/puzzle11/src/main.rs
  2025/puzzle12/Cargo.toml
  2025/puzzle12/src/main.rs
Due: none

2025 puzzle 01
  2025/answers.txt
  2025/puzzle01/input.txt
  2025/puzzle01/src/main.rs
Due: none

Path conditions:
  test_2015: any of: 2015/**/*, aoc/**/*
  test_2016: any of: 2016/**/*, aoc/**/*
  test_2017: any of: 2017/**/*, aoc/**/*
  test_2018: any of: 2018/**/*, aoc/**/*
  test_2019: any of: 2019/**/*, aoc/**/*
  test_2020: any of: 2020/**/*, aoc/**/*
  test_2021: any of: 2021/**/*, aoc/**/*
  test_2022: any of: 2022/**/*, aoc/**/*
  test_2023: any of: 2023/**/*, aoc/**/*
  test_2024: any of: 2024/**/*, aoc/**/*
