Repository colmbaston/advent-of-code: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_2015, test_2016, test_2017, test_2018, test_2019, test_2020, test_2021, test_2022, test_2023, test_2024, test_2025

.gitlab-ci.yml:

image:  rustlang/rust:nightly
stages: [test]

test_2015:
  stage:  test
  script: bash ./check.sh 2015
  rules:
  - changes: [2015/**/*, aoc/**/*]

test_2016:
  stage:  test
  script: bash ./check.sh 2016
  rules:
  - changes: [2016/**/*, aoc/**/*]

test_2017:
  stage:  test
  script: bash ./check.sh 2017
  rules:
  - changes: [2017/**/*, aoc/**/*]

test_2018:
  stage:  test
  script: bash ./check.sh 2018
  rules:
  - changes: [2018/**/*, aoc/**/*]

test_2019:
  stage:  test
  script: bash ./check.sh 2019
  rules:
  - changes: [2019/**/*, aoc/**/*]

test_2020:
  stage:  test
  script: bash ./check.sh 2020
  rules:
  - changes: [2020/**/*, aoc/**/*]

test_2021:
  stage:  test
  script: bash ./check.sh 2021
  rules:
  - changes: [2021/**/*, aoc/**/*]

test_2022:
  stage:  test
  script: bash ./check.sh 2022
  rules:
  - changes: [2022/**/*, aoc/**/*]

test_2023:
  stage:  test
  script: bash ./check.sh 2023
  rules:
  - changes: [2023/**/*, aoc/**/*]

test_2024:
  stage:  test
  script: bash ./check.sh 2024
  rules:
  - changes: [2024/**/*, aoc/**/*]

test_2025:
  stage:  test
  script: bash ./check.sh 2025
  rules:
  - changes: [2025/**/*, aoc/**/*]

2025 puzzle 02
  2025/answers.txt
  2025/puzzle02/input.txt
  2025/puzzle02/src/main.rs
Due: test_2025

generate invalid IDs and check against the ranges rather than brute-forcing the ranges
  2025/puzzle02/src/main.rs
Due: test_2025

2025 puzzle 03
  2025/answers.txt
  2025/puzzle03/input.txt
  2025/puzzle03/src/main.rs
Due: test_2025

update 2015 to edition = "2024" and apply new lints
  2015/puzzle01/Cargo.toml
  2015/puzzle02/Cargo.toml
  2015/puzzle03/Cargo.toml
  2015/puzzle04/Cargo.toml
  2015/puzzle05/Cargo.toml
  2015/puzzle05/src/main.rs
  2015/puzzle06/Cargo.toml
  2015/puzzle07/Cargo.toml
  2015/puzzle07/src/main.rs
  2015/puzzle08/Cargo.toml
  2015/puzzle09/Cargo.toml
  2015/puzzle09/src/main.rs
  2015/puzzle10/Cargo.toml
  2015/puzzle11/Cargo.toml
  2015/puzzle11/src/main.rs
  2015/puzzle12/Cargo.toml
  2015/puzzle13/Cargo.toml
  2015/puzzle13/src/main.rs
  2015/puzzle14/Cargo.toml
  2015/puzzle15/Cargo.toml
  2015/puzzle16/Cargo.toml
  2015/puzzle17/Cargo.toml
  2015/puzzle18/Cargo.toml
  2015/puzzle18/src/main.rs
  2015/puzzle19/Cargo.toml
  2015/puzzle19/src/main.rs
  2015/puzzle20/Cargo.toml
  2015/puzzle21/Cargo.toml
  2015/puzzle22/Cargo.toml
  2015/puzzle23/Cargo.toml
  2015/puzzle23/src/main.rs
  2015/puzzle24/Cargo.toml
  2015/puzzle25/Cargo.toml
  2015/rust-toolchain
Due: test_2015

update 2016 to edition = "2024" and apply new lints
  2016/assembunny/Cargo.toml
  2016/puzzle01/Cargo.toml
  2016/puzzle02/Cargo.toml
  2016/puzzle03/Cargo.toml
  2016/puzzle03/src/main.rs
  2016/puzzle04/Cargo.toml
  2016/puzzle04/src/main.rs
  2016/puzzle05/Cargo.toml
  2016/puzzle06/Cargo.toml
  2016/puzzle07/Cargo.toml
  2016/puzzle08/Cargo.toml
  2016/puzzle09/Cargo.toml
  2016/puzzle10/Cargo.toml
  2016/puzzle10/src/main.rs
  2016/puzzle11/Cargo.toml
  2016/puzzle11/src/main.rs
  2016/puzzle12/Cargo.toml
  2016/puzzle13/Cargo.toml
  2016/puzzle13/src/main.rs
  2016/puzzle14/Cargo.toml
  2016/puzzle14/src/main.rs
  2016/puzzle15/Cargo.toml
  2016/puzzle16/Cargo.toml
  2016/puzzle16/src/main.rs
  2016/puzzle17/Cargo.toml
  2016/puzzle18/Cargo.toml
  2016/puzzle19/Cargo.toml
  2016/puzzle20/Cargo.toml
  2016/puzzle21/Cargo.toml
  2016/puzzle22/Cargo.toml
  2016/puzzle23/Cargo.toml
  2016/puzzle24/Cargo.toml
  2016/puzzle25/Cargo.toml
  2016/rust-toolchain
Due: test_2016

update 2017 to edition = "2024" and apply new lints
  2017/knot-hash/Cargo.toml
  2017/knot-hash/src/lib.rs
  2017/puzzle01/Cargo.toml
  2017/puzzle02/Cargo.toml
  2017/puzzle03/Cargo.toml
  2017/puzzle04/Cargo.toml
  2017/puzzle05/Cargo.toml
  2017/puzzle06/Cargo.toml
  2017/puzzle07/Cargo.toml
  2017/puzzle08/Cargo.toml
  2017/puzzle09/Cargo.toml
  2017/puzzle10/Cargo.toml
  2017/puzzle11/Cargo.toml
  2017/puzzle12/Cargo.toml
  2017/puzzle13/Cargo.toml
  2017/puzzle14/Cargo.toml
  2017/puzzle15/Cargo.toml
  2017/puzzle16/Cargo.toml
  2017/puzzle17/Cargo.toml
  2017/puzzle18/Cargo.toml
  2017/puzzle19/Cargo.toml
  2017/puzzle20/Cargo.toml
  2017/puzzle21/Cargo.toml
  2017/puzzle22/Cargo.toml
  2017/puzzle23/Cargo.toml
  2017/puzzle24/Cargo.toml
  2017/puzzle25/Cargo.toml
  2017/rust-toolchain
  2017/tablet/Cargo.toml
Due: test_2017

update 2018 to edition = "2024" and apply new lints
  2018/device/Cargo.toml
  2018/puzzle01/Cargo.toml
  2018/puzzle02/Cargo.toml
  2018/puzzle03/Cargo.toml
  2018/puzzle04/Cargo.toml
  2018/puzzle05/Cargo.toml
  2018/puzzle06/Cargo.toml
  2018/puzzle07/Cargo.toml
  2018/puzzle08/Cargo.toml
  2018/puzzle09/Cargo.toml
  2018/puzzle10/Cargo.toml
  2018/puzzle11/Cargo.toml
  2018/puzzle12/Cargo.toml
  2018/puzzle12/src/main.rs
  2018/puzzle13/Cargo.toml
  2018/puzzle14/Cargo.toml
  2018/puzzle15/Cargo.toml
  2018/puzzle16/Cargo.toml
  2018/puzzle17/Cargo.toml
  2018/puzzle18/Cargo.toml
  2018/puzzle18/src/main.rs
  2018/puzzle19/Cargo.toml
  2018/puzzle19/src/main.rs
  2018/puzzle20/Cargo.toml
  2018/puzzle21/Cargo.toml
  2018/puzzle22/Cargo.toml
  2018/puzzle23/Cargo.toml
  2018/puzzle24/Cargo.toml
  2018/puzzle24/src/main.rs
  2018/puzzle25/Cargo.toml
  2018/rust-toolchain
Due: test_2018

update 2019 to edition = "2024" and apply new lints
  2019/intcode/Cargo.toml
  2019/puzzle01/Cargo.toml
  2019/puzzle02/Cargo.toml
  2019/puzzle03/Cargo.toml
  2019/puzzle04/Cargo.toml
  2019/puzzle05/Cargo.toml
  2019/puzzle06/Cargo.toml
  2019/puzzle07/Cargo.toml
  2019/puzzle08/Cargo.toml
  2019/puzzle09/Cargo.toml
  2019/puzzle10/Cargo.toml
  2019/puzzle11/Cargo.toml
  2019/puzzle12/Cargo.toml
  2019/puzzle13/Cargo.toml
  2019/puzzle14/Cargo.toml
  2019/puzzle14/src/main.rs
  2019/puzzle15/Cargo.toml
  2019/puzzle16/Cargo.toml
  2019/puzzle16/src/main.rs
  2019/puzzle17/Cargo.toml
  2019/puzzle18/Cargo.toml
  2019/puzzle19/Cargo.toml
  2019/puzzle20/Cargo.toml
  2019/puzzle21/Cargo.toml
  2019/puzzle22/Cargo.toml
  2019/puzzle23/Cargo.toml
  2019/puzzle24/Cargo.toml
  2019/puzzle25/Cargo.toml
  2019/rust-toolchain
Due: test_2019

update 2020 to edition = "2024" and apply new lints
  2020/puzzle01/Cargo.toml
  2020/puzzle02/Cargo.toml
  2020/puzzle03/Cargo.toml
  2020/puzzle04/Cargo.toml
  2020/puzzle04/src/main.rs
  2020/puzzle05/Cargo.toml
  2020/puzzle06/Cargo.toml
  2020/puzzle07/Cargo.toml
  2020/puzzle08/Cargo.toml
  2020/puzzle09/Cargo.toml
  2020/puzzle10/Cargo.toml
  2020/puzzle11/Cargo.toml
  2020/puzzle12/Cargo.toml
  2020/puzzle13/Cargo.toml
  2020/puzzle14/Cargo.toml
  2020/puzzle15/Cargo.toml
  2020/puzzle16/Cargo.toml
  2020/puzzle16/src/main.rs
  2020/puzzle17/Cargo.toml
  2020/puzzle18/Cargo.toml
  2020/puzzle19/Cargo.toml
  2020/puzzle20/Cargo.toml
  2020/puzzle20/src/main.rs
  2020/puzzle21/Cargo.toml
  2020/puzzle22/Cargo.toml
  2020/puzzle23/Cargo.toml
  2020/puzzle24/Cargo.toml
  2020/puzzle25/Cargo.toml
  2020/rust-toolchain
Due: test_2020

update 2021 to edition = "2024" and apply new lints
  2021/puzzle01/Cargo.toml
  2021/puzzle02/Cargo.toml
  2021/puzzle03/Cargo.toml
  2021/puzzle03/src/main.rs
  2021/puzzle04/Cargo.toml
  2021/puzzle05/Cargo.toml
  2021/puzzle06/Cargo.toml
  2021/puzzle07/Cargo.toml
  2021/puzzle08/Cargo.toml
  2021/puzzle09/Cargo.toml
  2021/puzzle10/Cargo.toml
  2021/puzzle11/Cargo.toml
  2021/puzzle11/src/main.rs
  2021/puzzle12/Cargo.toml
  2021/puzzle13/Cargo.toml
  2021/puzzle14/Cargo.toml
  2021/puzzle14/src/main.rs
  2021/puzzle15/Cargo.toml
  2021/puzzle16/Cargo.toml
  2021/puzzle17/Cargo.toml
  2021/puzzle18/Cargo.toml
  2021/puzzle19/Cargo.toml
  2021/puzzle20/Cargo.toml
  2021/puzzle21/Cargo.toml
  2021/puzzle22/Cargo.toml
  2021/puzzle23/Cargo.toml
  2021/puzzle24/Cargo.toml
  2021/puzzle25/Cargo.toml
  2021/rust-toolchain
Due: test_2021

update 2022 to edition = "2024" and apply new lints
  2022/puzzle01/Cargo.toml
  2022/puzzle02/Cargo.toml
  2022/puzzle03/Cargo.toml
  2022/puzzle04/Cargo.toml
  2022/puzzle05/Cargo.toml
  2022/puzzle06/Cargo.toml
  2022/puzzle07/Cargo.toml
  2022/puzzle08/Cargo.toml
  2022/puzzle09/Cargo.toml
  2022/puzzle09/src/main.rs
  2022/puzzle10/Cargo.toml
  2022/puzzle10/src/main.rs
  2022/puzzle11/Cargo.toml
  2022/puzzle11/src/monkey.rs
  2022/puzzle12/Cargo.toml
  2022/puzzle13/Cargo.toml
  2022/puzzle13/src/main.rs
  2022/puzzle14/Cargo.toml
  2022/puzzle14/src/main.rs
  2022/puzzle15/Cargo.toml
  2022/puzzle15/src/main.rs
  2022/puzzle16/Cargo.toml
  2022/puzzle17/Cargo.toml
  2022/puzzle18/Cargo.toml
  2022/puzzle19/Cargo.toml
  2022/puzzle20/Cargo.toml
  2022/puzzle21/Cargo.toml
  2022/puzzle21/src/main.rs
  2022/puzzle22/Cargo.toml
  2022/puzzle23/Cargo.toml
  2022/puzzle24/Cargo.toml
  2022/puzzle25/Cargo.toml
  2022/rust-toolchain
Due: test_2022

update 2023 to edition = "2024" and apply new lints
  2023/puzzle01/Cargo.toml
  2023/puzzle01/src/main.rs
  2023/puzzle02/Cargo.toml
  2023/puzzle03/Cargo.toml
  2023/puzzle04/Cargo.toml
  2023/puzzle05/Cargo.toml
  2023/puzzle05/src/main.rs
  2023/puzzle06/Cargo.toml
  2023/puzzle07/Cargo.toml
  2023/puzzle08/Cargo.toml
  2023/puzzle09/Cargo.toml
  2023/puzzle10/Cargo.toml
  2023/puzzle11/Cargo.toml
  2023/puzzle12/Cargo.toml
  2023/puzzle13/Cargo.toml
  2023/puzzle14/Cargo.toml
  2023/puzzle14/src/main.rs
  2023/puzzle15/Cargo.toml
  2023/puzzle15/src/main.rs
  2023/puzzle16/Cargo.toml
  2023/puzzle17/Cargo.toml
  2023/puzzle18/Cargo.toml
  2023/puzzle19/Cargo.toml
  2023/puzzle20/Cargo.toml
  2023/puzzle21/Cargo.toml
  2023/puzzle22/Cargo.toml
  2023/puzzle23/Cargo.toml
  2023/puzzle24/Cargo.toml
  2023/puzzle25/Cargo.toml
  2023/puzzle25/src/main.rs
  2023/rust-toolchain
Due: test_2023

update 2024 to edition = "2024" and apply new lints
  2024/puzzle01/Cargo.toml
  2024/puzzle02/Cargo.toml
  2024/puzzle02/src/main.rs
  2024/puzzle03/Cargo.toml
  2024/puzzle04/Cargo.toml
  2024/puzzle05/Cargo.toml
  2024/puzzle06/Cargo.toml
  2024/puzzle07/Cargo.toml
  2024/puzzle08/Cargo.toml
  2024/puzzle09/Cargo.toml
  2024/puzzle09/src/main.rs
  2024/puzzle10/Cargo.toml
  2024/puzzle11/Cargo.toml
  2024/puzzle11/src/main.rs
  2024/puzzle12/Cargo.toml
  2024/puzzle13/Cargo.toml
  2024/puzzle14/Cargo.toml
  2024/puzzle15/Cargo.toml
  2024/puzzle16/Cargo.toml
  2024/puzzle17/Cargo.toml
  2024/puzzle18/Cargo.toml
  2024/puzzle19/Cargo.toml
  2024/puzzle20/Cargo.toml
  2024/puzzle21/Cargo.toml
  2024/puzzle21/src/main.rs
  2024/puzzle22/Cargo.toml
  2024/puzzle23/Cargo.toml
  2024/puzzle24/Cargo.toml
  2024/puzzle24/src/main.rs
  2024/puzzle25/Cargo.toml
  2024/rust-toolchain
Due: test_2024

update aoc to edition = "2024" and apply new lints
  aoc/Cargo.toml
  aoc/src/lib.rs
  aoc/src/permutations.rs
Due: test_2015, test_2016, test_2017, test_2018, test_2019, test_2020, test_2021, test_2022, test_2023, test_2024, test_2025

update dependency versions, update LICENCE and README, add clippy option to check script
  2023/puzzle25/Cargo.toml
  2023/puzzle25/src/main.rs
  LICENCE
  README.md
  check.sh
Due: test_2023

use iterators to find battery to remove rather than expicit looping
  2025/puzzle03/src/main.rs
Due: test_2025

2025 puzzle 04
  2025/answers.txt
  2025/puzzle04/input.txt
  2025/puzzle04/src/main.rs
Due: test_2025

eta reduce flat_map(adjacent)
  2025/puzzle04/src/main.rs
Due: test_2025

2025 puzzle 05
  2025/answers.txt
  2025/puzzle05/input.txt
  2025/puzzle05/src/main.rs
Due: test_2025

partition_point unnecessary during preprocessing
  2025/puzzle05/src/main.rs
Due: test_2025

2025 puzzle 06
  2025/answers.txt
  2025/puzzle06/Cargo.toml
  2025/puzzle06/input.txt
  2025/puzzle06/src/main.rs
Due: test_2025

use existing byte slices from input rather than reallocating
  2025/puzzle06/src/main.rs
Due: test_2025

2025 puzzle 07
  2025/answers.txt
  2025/puzzle07/input.txt
  2025/puzzle07/src/main.rs
Due: test_2025

2025 puzzle 08
  2025/answers.txt
  2025/puzzle08/input.txt
  2025/puzzle08/src/main.rs
Due: test_2025

use Vec<Point> to store circuit rather than HashSet<Point>
  2025/puzzle08/src/main.rs
Due: test_2025

use Vecs indexed by point indices instead of HashMaps indexed by points
  2025/puzzle08/src/main.rs
Due: test_2025

implement path compression by halving
  2025/puzzle08/src/main.rs
Due: test_2025

for part one, just keep the max three rather than sorting the entire array
  2025/puzzle08/src/main.rs
Due: test_2025

2025 puzzle 09
  2025/answers.txt
  2025/puzzle09/input.txt
  2025/puzzle09/src/main.rs
Due: test_2025

2025 puzzle 10, part two hard-coded for now
  2025/answers.txt
  2025/puzzle10/input.txt
  2025/puzzle10/src/main.rs
Due: test_2025

add echelon form
  2025/puzzle10/src/main.rs
Due: test_2025

update Gaussian elimination
  2023/puzzle24/src/main.rs
  2025/puzzle10/src/main.rs
Due: test_2023, test_2025

part two without using an external solver
  2025/puzzle10/Cargo.toml
  2025/puzzle10/src/main.rs
Due: test_2025

implement Counter iterator and pull linear functions to separate module
  2025/puzzle10/Cargo.toml
  2025/puzzle10/src/counter.rs
  2025/puzzle10/src/linear.rs
  2025/puzzle10/src/main.rs
Due: test_2025

2025 puzzle 11
  2025/answers.txt
  2025/puzzle11/input.txt
  2025/puzzle11/src/main.rs
Due: test_2025

Counter now bounds the sum of the elements, not each element
  2025/puzzle10/src/counter.rs
Due: test_2025

2025 puzzle 12
  2025/answers.txt
  2025/puzzle12/input.txt
  2025/puzzle12/src/main.rs
  README.md
Due: test_2025

feature(array_windows) no longer required
  2015/puzzle05/src/main.rs
  2015/puzzle09/src/main.rs
  2015/puzzle11/src/main.rs
  2015/puzzle13/src/main.rs
  2016/puzzle07/src/main.rs
  2016/puzzle14/src/main.rs
  2016/puzzle18/src/main.rs
  2016/puzzle20/src/main.rs
  2016/puzzle24/src/main.rs
  2017/puzzle04/src/main.rs
  2017/puzzle07/src/main.rs
  2019/puzzle04/src/non_descending.rs
  2019/puzzle16/src/main.rs
  2021/puzzle14/src/main.rs
  2022/puzzle13/src/main.rs
  2022/puzzle14/src/main.rs
  2022/puzzle15/src/main.rs
  2023/puzzle09/src/main.rs
  2023/puzzle18/src/main.rs
  2024/puzzle02/src/main.rs
  2024/puzzle21/src/main.rs
  2025/puzzle03/src/main.rs
  2025/puzzle09/src/main.rs
  aoc/src/lib.rs
Due: test_2015, test_2016, test_2017, test_2018, test_2019, test_2020, test_2021, test_2022, test_2023, test_2024, test_2025
